@font-face {
    font-family: "Helsinki";
    src: local("Helsinki"), url("./fonts/helsinki.ttf") format("truetype");
}
@font-face {
    font-family: "Helvetica";
    src: local("Helvetica"), url("./fonts/Helvetica.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #161616 !important;
    width: 100vw !important;
    height: 4.25rem;
    justify-content: space-between !important;
    text-align: center !important;
}
.navitem{
    color: #f7f7f7 !important;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.14px;
}
.brandname{
    color: #fff !important;
    font-size: 1.8rem !important;
    font-weight: bold !important;
    letter-spacing: 2px !important;
    position: absolute;
    left: 50rem;
    top: -0.06rem;
}
#home, #about{
    position: absolute;
    top: 1rem;
    left: 1.8rem;
}
#about{
    left: 9rem;
}
#contact{
    position: absolute;
    top: 1rem;
    left: 107rem;
}