.foot {
  height: 136px;
  background: #000000;
}
.footer {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #969696;
  width: 60vw;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer a{
  margin: 0 0.5rem;
}

@media screen and (min-width:734px) and (max-width:1200px){
    .footer{
    position: relative;
    }
}

@media screen and (max-width: 738px) {
  .footer {
    margin: 0 auto;
    justify-content: center;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #969696;
    position: relative;
  }
}
