.Navbar{
    background-color: #161616;
}
.brandname,
.home,
.about,
.contact {
    color: #fff !important;
    letter-spacing: 1.15px;
    position: relative;
}
.brandname{
    color: #fff;
    position: relative;
    left: calc(50% - 6rem);
    font-family: Lato;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 35px;
}

.home{
    right: 10rem;
}
.about{
    right: 7rem;
}
.contact{
    left: calc(80vw - 10rem);
}

@media (max-width: 768px){
    .home, .about, .contact{
        position: static;
    }
}

