#about {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 67px;

  align-items: center;
  text-align: center;
  color: #851d9d;
}

.content {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #5e5e5e;
  text-align: center;
  align-items: center;
  color: #5e5e5e;
  width: 50%;
}

#about_1 {
  width: 100%;
}
.foot {
  height: 136px;
  background: #000000;
}
.footer {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  align-items: center;
  text-align: center;
  color: #969696;
  position: absolute;
  margin: 50px;
  margin-left: 650px;
  display: inline;
}
#about_2 {
  display: flex;
  width: 500px;
  height: auto;
}

#about_3 {
  display: inline;
  width: 500px;
  height: auto;
  align-content: center;
  align-items: center;
  margin-left: 100px;
}

#content2 {
  width: 591.7px;
  height: 120px;
  display: block;
  text-align: center;
}

@media screen and (min-width: 734px) and (max-width: 1200px) {
  .content {
    display: contents;
  }
  #content2 {
    display: contents;
  }
  #about_1 {
    width: 700px;
    height: auto;
    align-items: center;
    align-self: center;
    align-content: center;
  }
  #about_2 {
    width: 600px;
    height: auto;
    align-items: center;
    align-self: center;
    align-content: center;
  }
  #reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer {
    position: relative;
  }
}

@media screen and (max-width: 738px) {
  .content {
    color: #5e5e5e;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  #about_1 {
    width: 100%;
    height: auto;
  }
  .content {
    display: contents;
    margin: auto;
  }
  #reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  #about_2 {
    width: 100%;
    height: auto;
  }
  #content2 {
    align-items: center;
    align-self: center;
    align-content: center;
  }

  #about_3 {
    width: 100%;
    margin-left: 0px;
  }
  .footer {
    margin: 40px;
    align-self: center;
    margin-left: 70px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #969696;
    position: relative;
  }
}
@media screen and (min-width: 1201px) {
  #content2 {
    width: 50%;
  }
}
